* {
    font-family: Arial;
    color: #282c34;

}

.xls-container {
    padding-left: 10%;
}

h3 {
    font-family: Arial;
    font-weight: 750;
}

.browse-container {
    background-color: #e9ecef;
    width: 25rem;
}

input {
    display: none;
}

.file-upload {
    border: 1px solid #282c34;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: #e9ecef;

}